@import 'fonts/font.css';


/* [start] General Attributes */

html { 
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

body {
  background-color: #111b1d;
  color: white;
  font-family: SourceSansPro-Regular;
}

.Information {
  font-family: ProximaNovaMedium;
  height: 40px;
}

.Page {
  width: 70%;
  margin: 0 auto;
}

hr {
  margin: 0px;
}

/* [end] General Attributes */
/* [start] Menu Bar - element */

.menu-bar {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #d1a33d;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.menu-bar__font {  }

.icon-and-title {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

.Title {
  font-family: MontExtraHeavy;
  font-size: 20pt;
}

.list-of-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.list-of-items__font {
  font-family: ProximaNovaMedium;
}

.item-of-list {
  font-size: 17pt;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.item-icon {
  color: #d1a33d;
  font-size: 10pt;
  cursor: default;
}

.items-of-catalog {
  margin-left: -50px;
  position: absolute;
  background-color: #162113;
  padding: 5px;
  transition: 0.3s;
  border-left: 2px solid #d1a33d;
  border-right: 2px solid #d1a33d;
  border-bottom: 2px solid #d1a33d;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-size: 15pt;
  z-index: 100;
}


.item-of-catalog {
  padding: 5px;
  transition: 0.3s;
}

.item-of-catalog:hover {
  background-color: white;
  font-size: 17pt;
  color: #162113;
  border-radius: 10px;
}

.category-true {
  color: #d1a33d;
}

.categroy-false {
  color: white;
}

/* [end] Menu Bar - element */ 
/* [start] Contacts - element */

.Contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  background-color: white;
  font-family: ProximaNovaMedium;
  color: #353535;
  font-size: 16pt;
  height: 40px;
  width: 100%;
  transition: 0.3s;
  margin-right: calc(-1 * (100vw - 100%));
  z-index: 1000;
}

.imitate-Contacts {
  height: 40px;
}

.icon-mark-red { color: red; }
.icon-phone-red { color: red; }
.icon-phone-blue { color: #00B2FF; }
.icon-mail-green { color: #4CBB17; }

/* [end] Contacts - element */
/* [start] Icon - element */

.Icon-s {
  width: 80px;
}

/* [end] Icon - element */
/* [start] Field - element */

.Field {
  margin-top: 10px;
  border-top: 2px solid #d1a33d;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 20px;
  font-family: ProximaNovaMedium;
  color: white;
  font-size: 16pt;
}

/* [end] Field - element */ 
/* [start] Photo/Gallery - element */

.Gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.photo-size-s {
  width: 200px;
  height: 112px;
  margin: 10px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 7px;
}

.photo-size-s:hover {
  border-radius: 30px;
  margin-right: -20px;
}

.photo-size-m {
  width: 400px;
  height: 225px;
  margin: 10px;
  transition: 0.3s;
  border-radius: 15px;
}

.photo-size-m:hover {
  width: 420px;
  height: 236px;
  margin: 10px;
  border: 2px solid white;
}

.photo-size-l {
  position: absolute;
  width: 1200px;/* 1000 x 562 */
  height: 675px;
  margin: 10px;
  transition: 0.3s;
  border-radius: 15px;
}

.photo-size-l:hover {
  border-radius: 50px;
}

/* [end] Photo - element */
/* [start] ExampleGallery - element */

.ExampleField {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.ListPicture {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.FullPicture {
  width: 1000px;
  height: 562px;
  position: fixed;
  right: 300px;
  bottom: 210px;
}

/* [end] ExampleGallery - element */