@import 'fonts/font.css';

html { 
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

body {
  background-color: #111b1d;
  color: white;
  font-family: SourceSansPro-Regular;
}

.Page {
  width: 70%;
  margin: 0 auto;
}

.a-non-decoration {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}
.a-non-decoration-alternative {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

.menu-bar {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #d1a33d;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.icon-and-title {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

.Title {
  font-family: MontExtraHeavy;
  font-size: 20pt;
}

.list-of-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.list-of-items__font { font-family: ProximaNovaMedium; }

.item-of-list {
  font-size: 17pt;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.item-icon {
  color: #d1a33d;
  font-size: 10pt;
  cursor: default;
}

.items-of-catalog {
  margin-left: -50px;
  position: absolute;
  background-color: #111b1d;
  padding: 5px;
  transition: 0.3s;
  border-left: 2px solid #d1a33d;
  border-right: 2px solid #d1a33d;
  border-bottom: 2px solid #d1a33d;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-size: 15pt;
  z-index: 100;
}

.item-of-catalog {
  padding: 5px;
  transition: 0.3s;
}

.item-of-catalog:hover {
  background-color: white;
  font-size: 17pt;
  color: #162113;
  border-radius: 10px;
}

.category-true { color: #d1a33d; }

.categroy-false { color: white; }

.Contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  background-color: white;
  font-family: ProximaNovaMedium;
  color: #353535;
  font-size: 16pt;
  height: 40px;
  width: 100%;
  transition: 0.3s;
  margin-right: calc(-1 * (100vw - 100%));
  z-index: 1000;
}

.imitate-Contacts { height: 40px; }

.icon-mark-red { color: red; }

.icon-phone-red { color: red; }

.icon-phone-blue { color: #00B2FF; }

.icon-mail-green { color: #4CBB17; }

.icon-viber-pink { color: #786fb5; }

.icon-telegram-blue { color: #32aee2; }

.Icon-s { width: 80px; }

.PlisseCategory, .RollerShutterCategory, .RhymesShutterCategory {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.Field {
  margin-top: 10px;
  border-top: 2px solid #d1a33d;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 10px;
  font-family: ProximaNovaMedium;
  color: white;
  font-size: 16pt;
}

.ExampleField {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.DescriptionField {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.photo-size-s {
  width: 200px;
  height: 112px;
  margin: 10px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 7px;
}

.photo-size-s:hover {
  border-radius: 30px;
  margin-right: -40px;
}

.photo-size-m {
  width: 400px;
  height: 225px;
  margin: 10px;
  transition: 0.3s;
  border-radius: 15px;
}

.photo-size-m:hover {
  width: 420px;
  height: 236px;
  border: 2px solid white;
}

.photo-size-l {
  width: 1200px;
  height: 675px;
  transition: 0.3s;
  border-radius: 80px;
  cursor: pointer;
}

.photo-size-l:hover {
  border-radius: 20px;
  cursor: pointer;
}

.photo-size-l-absolute {
  position: absolute;
  width: 1200px;
  height: 675px;
  margin: 10px;
  transition: 0.3s;
  border-radius: 15px;
}

.photo-size-l-absolute:hover { border-radius: 50px; }

.ListPicture {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.FullPicture {
  width: 1000px;
  height: 562px;
  position: fixed;
  right: 300px;
  bottom: 210px;
}

.Text {
  text-align: justify;
  font-size: 18pt;
  margin: 10px;
}

.Text-size-l {
  font-size: 25pt;
  margin: 20px;
}

.Slider {
  margin: 20px;
  position: relative;
  width: 1200px;
  height: 675px;
  transition: 0.3s;
}

.Slide {
  position: absolute;
  z-index: 10;
}

.mainField {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.optionsOfSlider {
  position: absolute;
  width: 1200px;
  height: 675px;
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.switchSlide {
  font-size: 40pt;
  cursor: pointer;
  transition: 0.4s;
  color: #f9c54f;
}
.switchSlide:hover {
  transform: rotate(360deg);
  font-size: 50pt;
  color: #ff7d3d;
}

.switchSlide-left { margin-left: -25px; }

.switchSlide-left:hover { margin-left: -35px; }

.switchSlide-right { margin-right: -25px; }

.switchSlide-right:hover { margin-right: -35px; }

.item-of-desctiption-contacts {
  font-size: 25pt;
  margin: 20px;
  padding: 10px;
  border-bottom: 2px solid #d1a33d;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.item-of-desctiption-contacts:hover {
  margin-left: 50px;
  color: #ff7d3d;
  border-color: white;
}

.number-of-picture {
  position: absolute;
}

.Footer {
  border-top: 2px solid #d1a33d;
  border-bottom: 2px solid #d1a33d;
  width: 100%;
  background-color: #042a3a;
  position: absolute;
  left: 0;
  color: white;
  font-size: 14pt;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  padding: 5px;
  transition: 0.5s;
}

.icon-footer {
  font-weight: normal;
  color: #32aee2;
}

.Footer:hover {
  background-color: #441016;
  color: white;
  border-color: white;
}

@supports (-ms-ime-align: auto) {
    .icon-and-title, .Contacts, .PlisseCategory, .RollerShutterCategory, .RhymesShutterCategory, .Gallery {
    justify-content: space-around;
  }
}
