@import 'fonts/font.css';

html {  }

body {
  background-color: #353535;
  color: white;
  font-family: SourceSansPro-Regular;
}

.Information {
  font-family: ProximaNovaMedium;
  height: 40px;
}

.Page {
  width: 70%;
  margin: 0 auto;
}

.Field {
  height: 300px;
}

hr {
  margin: 0px;
}

/* [start] Menu Bar - element */
.menu-bar {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.menu-bar__font {
  
}

.icon-and-title {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

.Title {
  font-family: MontExtraHeavy;
  font-size: 20pt;
}

.list-of-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.list-of-items__font {
  font-family: ProximaNovaMedium;
}

.item-of-list {
  font-size: 17pt;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.item-icon {
  color: #d1a33d;
  font-size: 10pt;
  cursor: default;
}

.items-of-catalog {
  margin-left: -50px;
  position: absolute;
  background-color: #353535;
  padding: 5px;
  transition: 0.3s;
  border-left: 2px solid #d1a33d;
  border-right: 2px solid #d1a33d;
  border-bottom: 2px solid #d1a33d;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}


.item-of-catalog {
  padding: 5px;
  transition: 0.3s;
}

.item-of-catalog:hover {
  background-color: white;
  color: #353535;
  border-radius: 10px;
}

/* [end] Menu Bar - element */ 
/* [start] Contacts - element */

.Contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  background-color: white;
  font-family: ProximaNovaMedium;
  color: #353535;
  font-size: 16pt;
  height: 40px;
  width: 100%;
}

.imitate-Contacts {
  height: 40px;
}

.icon-mark-red { color: red; }
.icon-phone-red { color: red; }
.icon-phone-blue { color: #00B2FF; }
.icon-mail-green { color: #4CBB17; }

/* [end] Contacts - element */
/* [start] Icon - element */

.Icon-s {
  width: 80px;
}

/* [end] Icon - element */